.loader {
    color:#3dcc62;
    font-size: 3rem;
    animation: spin-animation 0.5s infinite;
    display: inline-block;
  }
  .loaderContainer{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 1rem;
    flex-direction: column;
  }
  
  @keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
